@charset "UTF-8";

body {
    color: #ffffff;
    margin: 0px;
    overflow: hidden;
    background-color: #CCCCCC;
}
#info {
    background-color: #526954;
    color: #ffffff;
    position: fixed;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    text-align: center;
    z-index: 99;
    display:block;
}
#info a, .button { text-decoration: none; color: #FFF; font-weight: bold; cursor: pointer }

#info span {

    font-weight: bold;
}

#option {
    float: left;
    background-color: #697656;
    width: 15%;
    height: 230px;
    position: fixed;
    color: #999999;
    padding-top: 15px;
    top: 50px;
}

#option ul {
    line-height: 35px;
    padding-left: 0px;
}

#option li {
    color: white;
    cursor: pointer;
    list-style: none;
}

#option li:hover {
    background-color: #D5D993;
    color: #000;
}

#option ul a {
    text-decoration: none;
    padding-left: 20px;
}

#move {
    color: white;
    font-weight: bold;
    font-size: 18pt;
    text-align: center;
}

#player {
    text-align: center;
}
